.App {
  margin: 16px;
}

fieldset{
  border: 3px 5px 10px solid black;
  margin: auto;
  width: 60%;
  padding: auto;
}

ol{
  opacity: 50%;
}

#instructions{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99.1%;
  border: 5px solid red;
  margin: 1px;
  padding: 3px;

}